* {
	margin: 0;
}
header {
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.first-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px;
}
.logo {
	align-items: start;
	font-size: 30px;
}
.logo a {
	text-decoration-line: none;
	color: black;
}
.soical-icons-group {
	align-items: flex-end;
	margin-right: 10px;

}
.soical-icon {
	margin: 0 5px 0 5px;
}
main {
	display: flex;

}
.block {
	width: 11.5%;
	border-color: black;
}
.blog-content-head {
	font-size: 30px;
	padding: 20px;
}
.blog-content {
	align-content: center;
	width: 54%;
	border-color: black;
	border-left: 1px solid rgba(0, 0, 0, .3);
	border-right: 1px solid rgba(0, 0, 0, .3);
	padding: 15px;
}
.blog-content-nav{
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.blog-content-nav a{
	text-decoration-line: none;
	color: black;
	padding: 0 10px 0 10px;
}
.blog-content-flex{
	display: flex;
	flex-direction: column;
}
.blog-content-flex a {
	text-decoration-line: none;
	color: black;
}
.blog-content-inside {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	justify-content: space-between;
	padding: 30px 80px 30px 20px;
}
.blog-content-inside-detail .tag {
	display: inline-block;
	background-color: gray;
	border: 0.5px solid black;
	border-radius: 20%;
	margin: 22px 0 0 0 ;
	padding: 2px 4px 2px 4px;

}
.blog-content-inside-detail h4 {
	font-size: 23px;
}
.blog-content-inside-detail p {
	font-size: 16px;
}
.blog-content-inside-pic{
	width: 112px;
	height: 112px;
	border: 1px solid black;
}
.profile_link {
	text-decoration-line: none;
	color: black;
}
.profile {
	display: flex;
	flex-direction: column;
	width: 32.5%;
	padding: 30px;

}
.profile-photo img{
	border-radius: 50%;
}
.profile-content {
	width: 300px;
}
.name {
	padding: 30px 0 0 0;
	width: 300px;
}
footer {
	display: flex;
	justify-content: center;
}
