* {
	margin: 0;
}
header {
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	height: 50px;
}
.first-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px;
}
.logo {
	align-items: start;
	font-size: 40px;
}
.logo a {
	text-decoration-line: none;
	color: black;
}
.soical-icons-group {
	align-items: flex-end;
	padding: 2px 0 0 0;
	margin-right: 10px;

}
.soical-icon {
	margin: 0 5px 0 5px;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 25% 0 25%;
}
.title h1 {
	font-size: 60px;
}
.title h3 {
	font-size: 25px;
	color: gray;
}
.title p {
	font-size: 18px;
}
.nav {
	display: flex;
	flex-direction: row;
	border-bottom: 0.5px solid gray;
	border-top: 0.5px solid gray;
}
.link {
	display: flex;
	flex-direction: right;
}
.nav a {
	padding: 10px;
}
.comment {
	display: flex;
	flex-direction: column;
}
.comment textarea {
	width: 50px;
}
.comment-area {
	display: flex;
	flex-direction: row;
}
.comment-area textarea {
	width: 400px;
}